body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkgray;
    --body-h: 300px;
    --body-w: 200px;
    width: var(--body-w);
    height: var(--body-h);
    border-radius: 25px;
    box-shadow: 3px 3px gray;
}

#screen {
    position: absolute;
    background-color: lightgray;
    font-family:'Lucida Sans';
    border: none;
    outline: none;
    width: calc(.75 * var(--body-w));
    height: calc(.1 * var(--body-h));
    padding: 5px 15px;
    border-radius: 20px;
    margin-top: -220px;
}

#button-container {
    display: flex;
    margin-top: 60px;
    --button-size: 40px;
}

#number-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
}

#operation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 8px;
    padding-right: 5px;
}

.calc-button {
    border: none;
    outline: none;
    background-color: lightgray;
    width: var(--button-size);
    height: var(--button-size);
    border-radius: calc(var(--button-size) / 2);
}

.calc-button:active {
    background-color: gray;
}
